name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
        - java: 8
          os: ubuntu-latest
        - java: 8
          os: windows-latest
        - java: 25
          os: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: zulu
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt publishLocal test
    - if: matrix.os != 'windows-latest'
      run: sbt scalafmtSbtCheck scalafmtCheckAll
