name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
        - java: 8
          os: ubuntu-latest
        - java: 8
          os: windows-latest
        - java: 21
          os: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - uses: coursier/cache-action@v6
    - run: sbt test
    - if: matrix.os != 'windows-latest'
      run: sbt scalafmtSbtCheck scalafmtCheckAll "rules2_13/scalafixAll --check OrganizeImports"
