name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
        - java: 17
          os: ubuntu-latest
        - java: 17
          os: windows-latest
        - java: 25
          os: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: zulu
    - uses: coursier/cache-action@v8
    - uses: sbt/setup-sbt@v1
    - run: sbt "publishLocal ; testFull"
    - if: matrix.os != 'windows-latest'
      run: sbt "scalafmtSbtCheck ; scalafmtCheckAll"
  latest:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: 25
        distribution: zulu
    - uses: sbt/setup-sbt@v1
    - run: sbt -Dscalafix_rules_scala_3_latest "print scalaVersion ; testsTarget3/test"
